//  Colors

$bodyBg: #fff;
$textColor: #333;

// Link colors

$linkColor: #55b3f3;
$linkColorHover: darken($linkColor, 20%);

//  Typography

$fontFamily: 'Roboto', Helvetica, Arial, sans-serif;
// $font-family--helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$fontSize: 1rem;
$fontWeight: 400; // Regular
$lineHeight: 1.5rem;

// Containers width

$containerPadding: 1rem;
$containerWidth: 77rem;
$contentContainerWidth: 62rem;

//Media Breakpoints
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;
$fullHd: 1920px;
$qhd: 2560px;
